body {
  background: #18181c;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: Roboto;
  overflow: hidden;
  font-size: 15px;
}

#background {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  /* background: url('https://source.unsplash.com/random/1920x1080/?landscape'); */
  background: url('https://images.unsplash.com/photo-1544111795-fe8b9def73f6?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1920&h=1080&fit=crop&ixid=eyJhcHBfaWQiOjF9');
  background-position: center;
  background-size: cover;
  filter: blur(5px) brightness(.5);
  transform: scale(1.1);
  animation: fadein-background .5s cubic-bezier(.75,-0.5,0,1.75);
}

.time-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  animation: fadein-time .5s cubic-bezier(.75,-0.5,0,1.75);
}

#time {
  font-weight: 100;
  font-size: 5em;
  opacity: .75;
  padding: .25em;
  line-height: 1;
  background: rgba(0,0,0,.25);
  border: 2px solid rgba(255,255,255,.25);
}

@keyframes fadein-time {
  from { 
    opacity: 0;
    transform: scale(.5);
  }
  to { 
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadein-background {
  from { 
    transform: scale(1.0);
  }
  to { 
    transform: scale(1.1);
  }
}